.content-home {
	background-color: rgb(15,43,55);
}

.container-home h1 {
    font-size: 3em;
    line-height: 45px;
		margin-top: 30px;
}

.container-home h3 {
    font-size: 22px;
}

.content-home .container-fluid {
	margin-top:45px;
	margin-left:15px;
	border:0px solid yellow;
	padding:0 15px 0 15px;
}

.content-home h2 {
	font-size:14px;
}

#panel_titulo_padre {
	padding:0;
}

#panel_titulo {
	color:white;
}

#panel_proyectos_padre {
	padding:0 10px 0 0;
}

#panel_proyectos_padre > a > img:first-child {
	position:absolute;
	width:40px;
	z-index:4;
	top:30px;
	right:20px;
}

#panel_proyectos {
	position:relative;
	background-color: rgb(92,182,69);
	height:242.5px;
	z-index:2;
	padding:;
}

#panel_proyectos h2{
	margin:0 0 10px 0;
	color:white;
}

#panel_proyectos h3{
	margin:0;
	font-weight:bold;
	color:white;
}
#panel_proyectos h4{
	margin:0 0 20px 0;
	font-weight:100;
	font-size:16px;
	color:white;
}

#panel_proyectos > div{
	padding:0 15px 0 15px;
	position:absolute;
	left:0;
	bottom:10px;
}

#panel_proyectos > div a{
	color:white;
}


#panel_proyectos > div > a > img{
	width:40px;
}

#panel_proyectos > div:nth-child(1) a i{
	color:white;
	padding:2px 6px 2px 6px;
	border-radius:50%;
	border:2px solid white;
}

#panel_proyectos div:nth-child(2) {
	padding:40px 0 0 0;
}

#panel_proyectos:after, #panel_proyectos:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#panel_proyectos:after {
	border-color: rgba(92,182,69, 0);
	border-top-color: rgb(92,182,69);
	border-width: 20px 12px 0 12px;
	margin-left: 0px;
}
#panel_proyectos:before {
	border-color: rgba(92,182,69, 0);
	border-top-color: rgb(92,182,69);
	border-width: 20px 12px 0 12px;
	margin-left: 0px;
}
	
#panel_proyectos_imagen_padre {
	height:242.5px;
	padding:0 10px 0 0;
}

#panel_proyectos_imagen_padre img{
	height: inherit !important;
    object-fit: cover;
    overflow: hidden;
}
	
#panel_proyectos_imagen {
	background-color: rgb(255,190,4);
	height:242.5px;
}

#panel_inferior {
	margin-top:15px;
}

#panel_servicios_padre {
	padding:0 10px 0 0;
	margin-bottom:15px;
}

#panel_servicios_padre > a > img:first-child {
	position:absolute;
	width:40px;
	z-index:2;
	top:10px;
	right:20px;
}

#panel_servicios {
	background-color:white;
	height:242.5px;
	padding:0;
}

#botones_servicios {
	padding:0;
	height:242.5px;
	background-color:rgb(133,90,159);
}

#contenido_servicios p .servicio_titulo{
	color:rgb(133,90,159);
	font-size:18px;
	font-weight:bold;
}

#contenido_servicios {
	position:absolute;
	top:0;
	right:0;
	height:auto;
	border:0px solid red;
}

#contenido_servicios ul{
	padding-left: 10px;
}

#contenido_servicios ul li {
	color: rgb(86,86,88);
}

#contenido_servicios ul li:before {
	
	color: rgb(133,90,159);
}

#contenido_servicios a i{
	color:rgb(133,90,159);
	padding:8px;
	border-radius:50%;
	border:2px solid rgb(133,90,159);
}

#contenido_servicios > div:nth-child(1){
	margin-top:30px;
}


#contenido_servicios > div:nth-child(2){
	margin-top:60px;
}

#contenido_servicios > div:nth-child(2) h4{
	color:rgb(133,90,159);
	font-size:18px;
	font-weight:bold;
}

#contenido_servicios h2 {
	margin:0 0 10px 0;
}

#contenido_servicios div.tab-content {
	margin:0;
}

#botones_servicios {
	padding:0;
	margin:0;
}

#botones_servicios div {
	margin-top:12px;
}

#botones_servicios i {
	color:white;
	padding:7px;
	border-radius:50%;
	border:2px solid white;
}

.icono {
	margin:7px 0 7px 0!important;
	padding:0 0 0 7px;
}
	
.icono a{
	margin-left: -10px;
}

.icono a img{
	width:40px;
}

#icono1 {
	position:relative;
	
}
		
#icono1 a {
	color:white;
}

.icono1:after, .icono1:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.icono1:after {
	border-color: rgba(133,90,159, 0);
	border-left-color: rgb(133,90,159);
	border-width: 6px 0 6px 10px;
	margin-top: -6px;
}
.icono1:before {
	border-color: rgba(133,90,159, 0);
	border-left-color: rgb(133,90,159);
	border-width: 6px 0 6px 10px;
	margin-top: -6px;
}

#icono2 {
	position:relative;
}

#icono2 a {
	color:white;
}

.icono2:after, .icono2:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.icono2:after {
	border-color: rgba(133,90,159, 0);
	border-left-color: rgb(133,90,159);
	border-width: 6px 0 6px 10px;
	margin-top: -6px;
}
.icono2:before {
	border-color: rgba(133,90,159, 0);
	border-left-color: rgb(133,90,159);
	border-width: 6px 0 6px 10px;
	margin-top: -6px;
}

#icono3 {
	position:relative;
}

#icono3 a {
	color:white;
}

.icono3:after, .icono3:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.icono3:after {
	border-color: rgba(133,90,159, 0);
	border-left-color: rgb(133,90,159);
	border-width: 6px 0 6px 10px;
	margin-top: -6px;
}
.icono3:before {
	border-color: rgba(133,90,159, 0);
	border-left-color: rgb(133,90,159);
	border-width: 6px 0 6px 10px;
	margin-top: -6px;
}

#icono4 {
	position:relative;
}

#icono4 a {
	color:white;
}

.icono4:after, .icono4:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.icono4:after {
	border-color: rgba(133,90,159, 0);
	border-left-color: rgb(133,90,159);
	border-width: 6px 0 6px 10px;
	margin-top: -6px;
}
.icono4:before {
	border-color: rgba(133,90,159, 0);
	border-left-color: rgb(133,90,159);
	border-width: 6px 0 6px 10px;
	margin-top: -6px;
}

#icono5 {
	position:relative;
}

#icono5 a {
	color:white;
}

.icono5:after, .icono5:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.icono5:after {
	border-color: rgba(133,90,159, 0);
	border-left-color: rgb(133,90,159);
	border-width: 6px 0 6px 10px;
	margin-top: -6px;
}
.icono5:before {
	border-color: rgba(133,90,159, 0);
	border-left-color: rgb(133,90,159);
	border-width: 6px 0 6px 10px;
	margin-top: -6px;
}

#panel_redes_padre {
	padding:0 10px 0 0;
	margin-bottom:15px;
}

#panel_redes {
	background-color:white;
	height:542.5px;
	padding:0;
}

#panel_redes > div.row:nth-child(2){
	margin:0;
	overflow:hidden;
}

#boton_facebook {
	padding: 10px 0 10px 0;
	background-color: rgb(15,117,189);
	position:relative;
}

#boton_facebook a {
	color:white;
}

#boton_facebook a i{
	color:white;
	padding:5px 7px 5px 7px;
	border-radius:50%;
	border:2px solid white;
}

.boton_facebook:after, .boton_facebook:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.boton_facebook:after {
	border-color: rgba(15,117,189, 0);
	border-top-color: rgb(15,117,189);
	border-width: 10px 6px 0 6px;
	margin-left: -6px;
}

.boton_facebook:before {
	border-color: rgba(15,117,189, 0);
	border-top-color: rgb(15,117,189,152);
	border-width: 10px 6px 0 6px;
	margin-left: -6px;
}

#boton_twitter {
	padding: 10px 0 10px 0;
	background-color: rgb(37,170,226);
	position:relative;
}

#boton_twitter a {
	color:white;
}

#boton_twitter a i{
	color:white;
	padding:5px;
	border-radius:50%;
	border:2px solid white;
}
	
.boton_twitter:after, .boton_twitter:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.boton_twitter:after {
	border-color: rgba(37,170,226, 0);
	border-top-color: rgb(37,170,226);
	border-width: 10px 6px 0 6px;
	margin-left: -6px;
}

.boton_twitter:before {
	border-color: rgba(37,170,226, 0);
	border-top-color: rgb(37,170,226);
	border-width: 10px 6px 0 6px;
	margin-left: -6px;
}

#panel_metodologia_padre {
	padding:0 10px 0 0;
	margin-bottom:15px;
}

#panel_metodologia_padre > a >img {
	width:40px;
	position:absolute;
	z-index:3;
	top:10px;
	right:20px;
}

#panel_metodologia {
	background-color:white;
	height:auto;
}

#panel_metodologia img {
	width:100%;
}


#panel_metodologia > div:nth-child(1){
	padding:8px 0 0 15px;
	color: rgb(78,92,92);
}

#panel_metodologia > div:nth-child(2){
	padding:15px 0 0 0;
}

#panel_metodologia > div:nth-child(2) a i{
	color: rgb(78,92,92);
	padding:8px;
	border-radius:50%;
	border:2px solid rgb(78,92,92);
}

#ultimo_panel {
	padding:0 10px 0 0;
	margin-bottom:45px;
}

#ultimo_panel_superior {
	height:600px;
	padding:0;
}

#ultimo_panel_superior img {
	width:100%;
	height:100%;
}

#ultimo_panel_inferior {
	position:relative;
	height:200px;
	background-color: rgb(126,159,152);
}

#ultimo_panel_inferior .contenido{
		position:absolute;
		left:0;
		bottom:10px;
	}

#ultimo_panel_inferior h3{
	margin: 0;
	font-weight: bold;
}

#ultimo_panel_inferior h4{
	margin:0 0 20px 0;
	font-weight:100;
	font-size:16px;
	color:white;
}

#ultimo_panel_inferior > a > img:first-child {
	position:absolute;
	width:40px;
	top:10px;
	right:10px;
}



#ultimo_panel_inferior > div:nth-child(2) {
	padding-top:25px;
	color:white;
}

#ultimo_panel_inferior > div:nth-child(2) a{
	color:white;
}

#ultimo_panel_inferior > div:nth-child(2) a i{
	color:white;
	padding:2px 6px 2px 6px;
	border-radius:50%;
	border:2px solid white;
}

#ultimo_panel_inferior:after, #ultimo_panel_inferior:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#ultimo_panel_inferior:after {
	border-color: rgba(126,159,152, 0);
	border-bottom-color: rgb(126,159,152);
	border-width: 0 12px 20px 12px;
	margin-left: -12px;
}

#ultimo_panel_inferior:before {
	border-color: rgba(126,159,152, 0);
	border-bottom-color: rgb(126,159,152);
	border-width: 0 12px 20px 12px;
	margin-left: -12px;
}

	
	
@media (min-width: 992px) {
	.content-home {
		background-color: rgb(15,43,55);
	}

	.content-home > .container-fluid {
		margin-top:85px;
		margin-left:50px;
		border:0px solid yellow;
		padding:0 15px 0 15px;
	}

	#panel_titulo_padre {
		padding:0;
	}

	#panel_titulo {
		color:white;
	}

	#panel_proyectos_padre {
		padding:0;
	}
	
	#panel_proyectos_padre > a > img:first-child {
		position:absolute;
		width:40px;
		z-index:4;
		top:10px;
		right:10px;
	}

	#panel_proyectos {
		position:relative;
		background-color: rgb(92,182,69);
		height:38.1vh;
		z-index:2;
	}

	#panel_proyectos:after, #panel_proyectos:before {
		left: 100%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	#panel_proyectos:after {
		border-color: rgba(92,182,69, 0);
		border-left-color: rgb(92,182,69);
		border-width: 12px 0 12px 20px;
		margin-top: -12px;
	}
	#panel_proyectos:before {
		border-color: rgba(92,182,69, 0);
		border-left-color: rgb(92,182,69);
		border-width: 12px 0 12px 20px;
		margin-top: -12px;
	}
		
	#panel_proyectos_imagen_padre {
		padding:0 0 0 0;
		height:38.1vh;
	}

	#panel_inferior {
		margin-top:15px;
	}

	#panel_servicios_padre {
		padding:0 10px 0 0;
		margin-bottom:15px;
	}

	#panel_servicios {
		background-color:white;
		height:39.1vh;
		padding:0;
	}

	#botones_servicios {
		padding:0;
		height:39.1vh;
		background-color:rgb(133,90,159);
	}


	#contenido_servicios a i{
		color:rgb(133,90,159);
		padding:8px;
		border-radius:50%;
		border:2px solid rgb(133,90,159);
	}

	#contenido_servicios > div:nth-child(1){
		margin-top:30px;
	}
	
	#contenido_servicios > div:nth-child(2){
		margin-top:15px;
	}
	
	#contenido_servicios > div:nth-child(3){
		margin-top:60px;
	}
	
	#contenido_servicios > div:nth-child(3) h3{
		color:rgb(133,90,159);
		font-size:22px;
		font-weight:bold;
	}
	
	#contenido_servicios h2 {
		margin:0 0 10px 0;
	}

	#botones_servicios i {
		color:white;
		padding:7px;
		border-radius:50%;
		border:2px solid white;
	}

	#icono1 {
		position:relative;
	}
			
	#icono1 a {
		color:white;
	}


	.icono1:after, .icono1:before {
		left: 100%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	.icono1:after {
		border-color: rgba(133,90,159, 0);
		border-left-color: rgb(133,90,159);
		border-width: 6px 0 6px 10px;
		margin-top: -6px;
	}
	.icono1:before {
		border-color: rgba(133,90,159, 0);
		border-left-color: rgb(133,90,159);
		border-width: 6px 0 6px 10px;
		margin-top: -6px;
	}

	#icono2 {
		position:relative;
	}

	#icono2 a {
		color:white;
	}

	.icono2:after, .icono2:before {
		left: 100%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	.icono2:after {
		border-color: rgba(133,90,159, 0);
		border-left-color: rgb(133,90,159);
		border-width: 6px 0 6px 10px;
		margin-top: -6px;
	}
	.icono2:before {
		border-color: rgba(133,90,159, 0);
		border-left-color: rgb(133,90,159);
		border-width: 6px 0 6px 10px;
		margin-top: -6px;
	}

	#icono3 {
		position:relative;
	}

	#icono3 a {
		color:white;
	}

	.icono3:after, .icono3:before {
		left: 100%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	.icono3:after {
		border-color: rgba(133,90,159, 0);
		border-left-color: rgb(133,90,159);
		border-width: 6px 0 6px 10px;
		margin-top: -6px;
	}
	.icono3:before {
		border-color: rgba(133,90,159, 0);
		border-left-color: rgb(133,90,159);
		border-width: 6px 0 6px 10px;
		margin-top: -6px;
	}

	#icono4 {
		position:relative;
	}

	#icono4 a {
		color:white;
	}

	.icono4:after, .icono4:before {
		left: 100%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	.icono4:after {
		border-color: rgba(133,90,159, 0);
		border-left-color: rgb(133,90,159);
		border-width: 6px 0 6px 10px;
		margin-top: -6px;
	}
	.icono4:before {
		border-color: rgba(133,90,159, 0);
		border-left-color: rgb(133,90,159);
		border-width: 6px 0 6px 10px;
		margin-top: -6px;
	}

	#icono5 {
		position:relative;
	}

	#icono5 a {
		color:white;
	}

	.icono5:after, .icono5:before {
		left: 100%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	.icono5:after {
		border-color: rgba(133,90,159, 0);
		border-left-color: rgb(133,90,159);
		border-width: 6px 0 6px 10px;
		margin-top: -6px;
	}
	.icono5:before {
		border-color: rgba(133,90,159, 0);
		border-left-color: rgb(133,90,159);
		border-width: 6px 0 6px 10px;
		margin-top: -6px;
	}

	#panel_redes_padre {
		padding:0;
	}

	#panel_redes {
		background-color:white;
		height:39.1vh;
		padding:0;
	}

	#panel_redes > div.row:nth-child(2){
		margin:0;
		height:31.5vh;
	}

	#boton_facebook {
		padding: 10px 0 10px 0;
		background-color: rgb(15,117,189);
		position:relative;
	}

	#boton_facebook a {
		color:white;
	}

	#boton_facebook a i{
		color:white;
		padding:5px 7px 5px 7px;
		border-radius:50%;
		border:2px solid white;
	}

	.boton_facebook:after, .boton_facebook:before {
		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	.boton_facebook:after {
		border-color: rgba(15,117,189, 0);
		border-top-color: rgb(15,117,189);
		border-width: 10px 6px 0 6px;
		margin-left: -6px;
	}

	.boton_facebook:before {
		border-color: rgba(15,117,189, 0);
		border-top-color: rgb(15,117,189,152);
		border-width: 10px 6px 0 6px;
		margin-left: -6px;
	}

	#boton_twitter {
		padding: 10px 0 10px 0;
		background-color: rgb(37,170,226);
		position:relative;
	}

	#boton_twitter a {
		color:white;
	}
		
	.boton_twitter:after, .boton_twitter:before {
		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	.boton_twitter:after {
		border-color: rgba(37,170,226, 0);
		border-top-color: rgb(37,170,226);
		border-width: 10px 6px 0 6px;
		margin-left: -6px;
	}

	.boton_twitter:before {
		border-color: rgba(37,170,226, 0);
		border-top-color: rgb(37,170,226);
		border-width: 10px 6px 0 6px;
		margin-left: -6px;
	}

	#panel_metodologia_padre {
		padding:0 0 0 10px;
		height:39.1vh;
		background-color:transparent;
	}

	#panel_metodologia {
		background-color:white;
		height:39.1vh;
	}
	
	#panel_metodologia img {
		width:100%;
		height:29.1vh;
	}
	
	#ultimo_panel {
		padding:0 35px 0 10px;
		height:auto;
	}

	#ultimo_panel_superior {
		height:48vh;
	}

	#ultimo_panel_inferior {
		position:relative;
		height:31.35vh;
		background-color: rgb(126,159,152);
	}

	

	#ultimo_panel_inferior:after, #ultimo_panel_inferior:before {
		bottom: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	#ultimo_panel_inferior:after {
		border-color: rgba(126,159,152, 0);
		border-bottom-color: rgb(126,159,152);
		border-width: 0 12px 20px 12px;
		margin-left: -12px;
	}

	#ultimo_panel_inferior:before {
		border-color: rgba(126,159,152, 0);
		border-bottom-color: rgb(126,159,152);
		border-width: 0 12px 20px 12px;
		margin-left: -12px;
	}
}

@media (max-width: 992px) {
	.content-home .container-fluid {
		margin-top:30px;
		margin-left:10px;
		border:0px solid yellow;
		padding:0 15px 0 15px;
	}

	#panel_proyectos div:nth-child(2) {
    	padding: 0px 0 0 0;
	}

	#ultimo_panel_inferior .contenido {
    	margin-top: -40px;
	}

	#panel_proyectos_padre{
		padding-top: 20px;
	}
}
	
/*.col-md-0.5 {
  width: 4.166666666666666%;
}*/
