.tab-content, .tab-content p{
  color: #424242 ;
}
.tab-content .head-title i{
  font-size: 3em ;
  color: #54b848 ;
}
.tab-content h2{
  margin-left: 15px ;
  margin-top: 0px ;
}
.tab-content .border-buttom-green{
  border-bottom: 2px #54b848 solid ;
  width: 70px ;
  margin-bottom: 5px ;
  margin-left: 16px ;
}
.tab-content .title-box{
  flex-direction: column ;
  justify-content: flex-start ;
}
.tab-content .head-title{
  display: flex ;
  flex-direction: row ;
  margin-left: 15px ;
  margin-bottom: 10px ;
  margin-top: 10px ;
}
article.container{
  height: 100% ;
}
.container-home.productos-descripciones{
  display: flex ;
  justify-content: center ;
}
.container-home.productos-descripciones .center{
  height: 340px ;
}
.container-home.productos-descripciones .center .tab-content{
  background-color: white ; overflow: auto ; padding-bottom: 15px ;
}
.container-home.col-sm-7.productos-descripciones li a i{
  margin-right: 5px;
}
/* 
slider
*/
.slider_well.slider {
  position: relative ;
  overflow: hidden ;
  margin: 0px auto 0 auto ;
  border-radius: 4px ;
}

.slider_well.slider ul {
  position: relative ;
  margin: 0 ;
  padding: 0 ;
  height: 200px ;
  list-style: none ;
}

.slider_well.slider ul li {
  position: relative ;
  display: block ;
  float: left ;
  margin: 0 ;
  padding: 0 ;
  max-width: 500px ;
  width: 345px ; 
  /* height: 340px ; */
  /* background: #ccc ; */
  text-align: center ;
  line-height: 300px ;
  background-color: unset;
}

.slider_well.slider ul li div{
  top: -10px ;
}

a.control_prev, a.control_next {
  position: absolute ;
  top: 40% ;
  z-index: 999 ;
  display: block ;
  padding: 4% 3% ;
  width: auto ;
  height: auto ;
  /* background: #2a2a2a ;
  color: #fff ; */
  text-decoration: none ;
  font-weight: 600 ;
  font-size: 18px ;
  opacity: 0.8 ;
  cursor: pointer ;
  background-color: unset ;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1 ;
  -webkit-transition: all 0.2s ease ;
}

a.control_prev {
  border-radius: 0 2px 2px 0 ;
}

a.control_next {
  right: 0 ;
  border-radius: 2px 0 0 2px ;
}

.slider_option {
  position: relative ;
  margin: 10px auto ;
  width: 160px ;
  font-size: 18px ;
}
.img-slide-bacground{
  width: auto; 
  background-size:cover; 
  background-position:50% 50%; 
  height: 220px;
}
@media(max-width:768px) {
  .container-home.productos-descripciones {
    justify-content: center;
    height: 100%;
  }
  .slider_well.slider ul li {
    width: 100%;
  }
}
@media(min-width:768px) {
  .container-home.productos-descripciones {
    align-items:center ;
    height: 90% ;
  }
  .slider_well.slider ul li {
    width: 345px;
  }
}