    .icon-home{
        background-position: 0 2px;
    }
    .icon-nosotros{
        background-position: -28px 2px;
    }
    .icon-proyectos{
        background-position: -56px 2px;
    }
    .icon-servicios{
        background-position: -90px 2px;
    }
    .icon-publicaciones{
        background-position: -120px 2px;
    }
    .icon-contacto{
        background-position: -150px 2px;
    }
    .icon-search{
        background-position: -168px center;
        border-left: 1px solid #FFFFFF;
        height: 24px;
        margin-bottom: 4px;
        margin-top: 4px;
        text-indent: 100000%;
        width: 28px;
    }

.breadcrumb{
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #8EB5C5;
    border-top: 1px solid #8EB5C5;
    color: #FFFFFF;
    font-size: 80%;
    height: 30px;
    line-height: 1;
    position: fixed;
    text-align: right;
    top: 32px;
    width: 100%;
    z-index: 1;
}

#menu_top form{
    float: left;
    margin: 0;
    padding: 0;
}

#menu_top input.search{
    background-color: #0b2a37;
    border: medium none;
    color: #FFFFFF;
    float: left;
    font-family: 'zurich_ltcn_btlight';
    font-size: 85%;
    height: 31px;
    padding: 5px;
}

#menu_top button{
    background-color: transparent !important;
    border: 0px solid #FFF;
}

#menu_top a.lenguaje{
    background-color: #2DAFE5;
    border-left: 1px solid #FFFFFF;
    color: #FFFFFF;
    display: table;
    line-height: 1.48;
    float: right;
    padding: 4px 20px;
    text-decoration: none;
}

.search-item {
    border-left: 2px solid #fff;
    margin-bottom: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.search-item a{
    color:#FFF;
    text-decoration: underline;
}

/* END HEADER */

.redesSociales {
    background-color: #2EB0E6;
    height: auto;
    position: fixed;
    left: 0;
    top: 45%;
    width: 32px;
    z-index: 99999;
    
    -moz-box-shadow: 0 0 5px #000;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}

.redesSociales a{
    color: #fff;
    display: block;
    font-size: 18px;
    height: 16px;
    margin: 13px 7px;
    right: 0;
    text-align: center;
    width: 16px;
}

.redesSociales a:hover{
    color: rgba(255,255,255,0.8);
}

.redesSocialesRight {
    background-color: #2EB0E6;
    height: auto;
    position: fixed;
    right: 0;
    top: 45%;
    width: 32px;
    z-index: 99999;
    
    -moz-box-shadow: 0 0 5px #000;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}

.redesSocialesRight a{
    color: #fff;
    display: block;
    font-size: 18px;
    height: 16px;
    margin: 13px 7px;
    right: 0;
    text-align: center;
    width: 16px;
}

.redesSocialesRight a:hover{
    color: rgba(255,255,255,0.8);
}



#wrap{
    position: relative;
    height: 100%;
}

.navigation{
    background: url('../images/navigation.png') no-repeat scroll 0 0 transparent;
    height: 72px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 168px;
    z-index: 9999;
    bottom: 40px;
}

.navigation-home{
    -moz-box-shadow: 0 0 5px #000;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
    height: auto;
    position: fixed;
    right: -1px;
    top: 150px;
    width: 40px;
    z-index: 9999;
}

.navigation-home a{
    border: 1px solid transparent;
    color: #FFFFFF;
    display: block;
    float: right;
    right: -145px;
    line-height: 2;
    padding: 5px 15px;
    position: relative;
    text-align: left;
    text-decoration: none;
    width: 185px;
    
    
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.navigation-home a:hover{
    right: 0;
    border: 1px solid #FFF;
    
    -moz-box-shadow: 0 0 5px #000;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}

.navigation-home a > span{
    margin: 0 15px 0 0;
}

    .navigation-home a.home1{
        background-color: #2CA8DC;
    }
    .navigation-home a.home2{
        background-color: #57B544;
    }
    .navigation-home a.home3{
        color: #673605;
        background-color: #F5F697;
    }
    .navigation-home a.home4{
        background-color: #F28A33;
    }
    
.bgimgHome {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.bgimg {
    left: 0;
    position: fixed;
    top: 0;
    z-index: -1;
}

.bgOpaco{
    background-color: rgba(0,0,0,0.5);
    height: 100%;
}
    
#ascensorBuilding {
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    position: relative;
    height: 100% !important;
}

#ascensorBuilding .content-home{
    overflow: hidden !important;
    width: 100%;
    height: 100% !important;
}

.container{
    margin-top: 20px;
    max-width: 100%;
}

.container-home{
    color: #FFFFFF;
    margin: 0;
    padding: 46px 10px 0 15px;
    /*width: 40%;*/
}

.container-home h1{
    font-family: 'zurich_cn_btbold';
    font-size: 5em;
    font-weight: normal;
    line-height: 60px;
    margin-bottom: 0;
    margin-top: 30px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.container-home h2{
    font-family: 'zurich_ltcn_btlight';
    font-size: 2em;
    font-weight: normal;
    line-height: 1.2;
    margin: 10px 0 0;
}

.container-home .content-inner{
    margin-top: 60px;
}

.container-home .share{
    display: inline-block;
    height: 42px;
    line-height: 2;
    padding: 10px 0 10px 20px;
    
    -webkit-box-shadow: 6px 6px 4px -7px rgba(0, 0, 0, 0.6);
    -moz-box-shadow:    6px 6px 4px -7px rgba(0, 0, 0, 0.6);
    box-shadow:         6px 6px 4px -7px rgba(0, 0, 0, 0.6);
}

.share .share-facebook, .share .share-twitter{
    background: url('../images/compartir-proyecto.png') no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 31px;
    text-indent: 100000%;
    width: 31px;
}

    .share-facebook{
        background-position:6px 4px !important;
    }

    .share-twitter{
        border-left: 1px solid #FFFFFF;
        background-position:-22px 4px !important;
    }

.inner-content{
    margin: 0;
    padding: 56px 10px 0 15px;
}

.row2{
    width: 20%;
}
.row3{
    width: 30%;
}
.row7{
    width: 70%;
}
.row8{
    width: 80%;
}

.inner-content h1{
    font-family: 'zurich_cn_btbold';
    font-size: 4em;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 20px;
    margin-top: 30px;
    padding-right: 10px;
}

.inner-content h2{
    color: #FFF;
    font-family: 'zurich_ltcn_btlight';
    font-size: 2em;
    font-weight: normal;
    line-height: 1.2;
    margin: 10px 0 0;
}

.inner-content h3{
    color: #FFF;
    font-family: 'zurich_ltcn_btlight';
    font-size: 1.2em;
    font-weight: normal;
    line-height: 1.2;
    margin: 10px 0 0;
}

.shadow{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7)
}
.inner-content h4{
    color: #2eb0e6;
    font-family: 'zurich_cn_btbold';
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 20px;
    margin-top: 30px;
    padding-right: 10px;
}

.inner-content .separador{
    border-bottom: 1px solid #66D2FF;
    border-top: 1px solid #0875A2;
    display: block;
    margin: 10px 0;
}

.inner-content h1.contacto{
    color: #FFF;
    
}

.inner-content .num{
    border-left: 1px solid #333333;
    margin-left: 10px;
    padding: 0 13px;
}

.inner-content label.titulo{
    color: #FFF;
    text-align: center;
}

.inner-content label{
    display: block;
    width: 100%;
}

.inner-content input, .inner-content textarea{
    background-color: transparent;
    border: 1px solid #FFF;
    font-family: 'zurich_ltcn_btlight';
    font-size: 0.8em;
    border-radius: 0px;
    color: #FFF;
    padding: 5px 10px;
    margin: 5px 10px;
    width: 90%;
}

.inner-content textarea{
    height: 150px;
}

.inner-content input.send{
    background-color: #FFF;
    border: 1px solid #FFF;
    border-radius: 0px;
    color: #0875a2;
    font-family: 'zurich_cn_btbold';
    font-size: 1em;
    padding: 5px;
    width: 90%;
}

.inner-content .mapas{
    padding-bottom: 50px;
    padding-left: 15px;
    padding-top: 70px;
    position: relative;
}

.mapas .contacto-info{
    margin: 0 25px;
    padding: 0;
}

.contacto-info h3{
    border-bottom: 1px solid #0875a2;
    color: #FFFFFF;
    font-size: 30px;
    margin: 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.contacto-info h4{
    color:#0875a2;
    font-weight: normal;
    margin: 0;
    
}

.contacto-info ul{
    border-top: 1px solid #66D2FF;
    list-style: none outside none;
    padding: 10px 0 0;
    margin: 0;
}

.contacto-info ul li{
    color: #FFF;
    padding: 0;
    margin: 0;
}

.contacto-info .info{
    border-top: 1px solid #66D2FF;
    color:#FFF;
    padding: 10px 0 0;
}

.contacto-info .info p{
    margin: 0 !important;
}

.contacto-info .separator{
    float: left;
    height: 12em;
    margin: 0 10px;
}

.contacto-info .data{
    float:left;
    margin-right: 20px;
}

.contacto-info .data:last-child{
    margin-right: 0px;
}


.mapas .map-inner{
    border: 4px solid #B3E9FF;
    border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    float: left;
    height: 12em;
    position: relative;
    overflow: hidden !important;
    width: 12em;
    
    -webkit-box-shadow: 0px 0px 30px rgba(50, 50, 50, 0.4);
    -moz-box-shadow:    0px 0px 30px rgba(50, 50, 50, 0.4);
    box-shadow:         0px 0px 30px rgba(50, 50, 50, 0.4);
}

.inner-content ul.categorias{
    list-style: none outside none;
    padding: 0 0 0 10px;
}

.inner-content ul.categorias li a{
    color: #1E1E1E;
    text-decoration: none;
    
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.inner-content ul.categorias li:hover a{
    color: #2CB3E3;
    padding-left: 5px;
}

.inner-content ul.categorias li{
    list-style: none outside none;
}

.inner-content .content-post{
    margin: 0 auto;
    padding-top: 35px;
    width: 85%;
}

.content-post .entry-post{
    background-color: #FFF;
    margin: 15px 0;
    padding: 10px;
    position: relative;
    
    -webkit-box-shadow: 4px 4px 6px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    4px 4px 6px rgba(50, 50, 50, 0.5);
    box-shadow:         4px 4px 6px rgba(50, 50, 50, 0.5);
}
/* agregado william*/
.bar-lat{
    margin-left: -70px;
    padding-left: 0;
    color: #B0B0B0;
    /*width: 26.5%;*/
}
.bar-lat h1{
    color: #2DAFE5;
}
.bar-lat .content-post .entry-post article h1+hr{
   margin-top: 0;
   border: 1px solid #2DAFE5; height: 0; width: 100%
}
.bar-lat h2,.bar-lat h3, .bar-lat h3 a{
    font-weight: bold;
    font-size: 1.02em;
    color: #8C8C8C;
    text-decoration: none;
}
.bar-lat h3 a:hover{
    color: #2DAFE5;
}
.bar-lat .btn-default:hover, .bar-lat .open .dropdown-toggle.btn-default{
    color: #2DAFE5;
}
.bar-lat h1 img {
    vertical-align: middle;
}
.bar-lat h3+p {
    font-size: 0.8em;
}
.bar-lat .col-md-9 h3+p{
    color: #B0B0B0 !important;
}
#inputBuscar {
    border: 1px solid #E4E4E4;
    /*width: 100%;
    margin: 0;
    margin-bottom: 30px; #8C8C8C*/
    width: 87%;
    color:  #E4E4E4;
}
.inner-content div.col-md-4 p{
    color:white;
    font-size: 15px;
}
/* fin agregado*/
.entry-post.last{
    margin-bottom: 50px;
}

.entry-post .img-destacada{
    position: relative;
}

.entry-post .date{
    background-color: #57B543;
    color: #FFF;
    position: absolute;
    top: 0;
    height: 50px;
    right: 0;
    padding: 5px;
    text-align: center;
    width: 114px;
}

.date .year{
    display: block;
    font-size: 14px;
    margin-top: -3px;
}

.entry-post p{
    font-family: 'zurich_ltcn_btlight';
    font-size: 1em;
    padding: 0;
    margin: 0;
}

.entry-post h1{
    line-height: 1;
    margin: 10px 0;
    font-size: 1.5em;
}

.entry-post h1 a{
    color:#2DAFE5;
}

.entry-post a.read-more{
    color: #2DAFE5;
    font-size: 0.9em;
    margin-top: 15px;
    float: right;
    text-decoration: none;
}

.inner-content ul.sub-servicios{
    list-style: disc outside none;
    margin: 5px 0 20px;
    padding: 0 0 0 15px;
}

.inner-content ul.sub-servicios li{
    color: #FFF;
}

.inner-content ul.sub-servicios li a{
    color: #FFF;
    text-decoration: none;
    
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.inner-content ul.sub-servicios li:hover a{
    padding-left: 5px;
}


section#iso{
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 148px;
    width: 100%;
}

#iso .row{
    margin-left: 10px;
    margin-right: 10px;
}

section.proyectos{
    margin-bottom: 50px;
    padding: 5px;
    height: 100%;
    position: relative !important;
    margin-top: 142px;
}

#iso .item-proyecto{
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #FFF;
    color: #222222;
    margin: 5px;
    overflow: hidden;
    padding: 0;
    width: 24%;
    
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.item-proyecto .box-proyecto{
    background-color: rgba(0, 0, 0, 0.7);
    color: #FFF;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 10px;
    width: 100%;
    
    -webkit-transition-duration: 0.4s;
     -moz-transition-duration: 0.4s;
      -ms-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.item-proyecto .box-proyecto:hover{
    background-color: rgba(0, 0, 0, 0.2);

}

.item-proyecto a.box{
    display: block;
}

.item-proyecto img.image {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.item-proyecto:hover img.image {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

.box-proyecto a{
    color: #FFF;
    text-decoration: none;   
}

.box-proyecto .titulo{
    font-family: 'zurich_cn_btbold';
    display: block;
    font-weight: normal;
    margin-bottom: 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.item-proyecto a.more{
    color:#FFF;
    font-weight: bold;
    position: absolute;
    text-decoration: none;
    right: 5px;
    bottom: 2px;
}

.box-filtros{
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 62px;
    padding: 10px;
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%;
}

.box-filtros .line{
    border-right: 1px solid #FFF;
}

.box-filtros h1{
    color: #FFFFFF;
    display: inline;
    font-family: 'zurich_cn_btbold';
    font-size: 4em;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    padding-right: 0;
}

.box-filtros button{
    background-color: transparent;
    border: 0 solid #fff;
    border-radius: 0;
    color: #fff;
    font-family: "zurich_cn_btbold",sans-serif;
    font-size: 26px;
    margin-top: 2px;
    padding: 10px 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default{
    background-color: transparent;
    color:#FFF;
}

.box-filtros button > span{
    margin-left: 10px !important;
    border-top-color: #fff !important;
}

.box-filtros .dropdown-menu{
    background-color: #0b2a37;
    border-radius: 0px;
    top: 112%;
    margin: 0;
}

.box-filtros .dropdown-menu li{
    display: block;
}

.box-filtros .dropdown-menu li a{
    color:#FFF;
}

.box-filtros .dropdown-menu li a:hover{
    color:#0b2a37;
}

.box-filtros label{
    font-weight: normal;
}

.content-proyecto{
    position: relative;
    height: 100%
}


.box-proyecto, .box-mapa{
    height: 100%;
    position: absolute;
    width: 50%;
}

.box-mapa{
    right: 0;
}

.box-proyecto{
    background-color: #57B543;
}

.box-proyecto .image{
    border: 3px solid #FFF;
    width: 190px;
    height: 120px;
    overflow: hidden;
}

.box-proyecto .image img{
    width: 100%;
    height: 100%;
}

.box-proyecto .slick-slider{
    margin-bottom: 30px;
    margin-left: 38px;
}

.box-proyecto .slick-next{
    right: 18px;
}

.map-proyecto{
    height: 100%;
    width: 100%;
}

.custom1{
    display: table;
    height: 100%;
}

.custom{
    float: none;
    display: table-cell;
    height: 100% !important;
}

.proyecto-inner{
    background-color: #57B543;
    color: #FFF;
}

.proyecto-inner .box-info{
    margin-bottom: 10px;
    margin-top: 15px;
    border-top: 1px solid rgba(255,2555,255,0.2);
    border-bottom: 1px solid rgba(255,2555,255,0.2);
    padding: 10px;
}

.box-info p{
    margin: 2px 0;
}

.proyecto-inner h1{
    color: #FFF;
}

.isotope-item {
}

.isotope-hidden.isotope-item {
  pointer-events: none;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}


/* FOOTER */

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

footer{
    background-color: rgba(0,0,0,0.5);
    bottom: 0;
    color: #FFFFFF;
    font-size: 13px;
    height: 34px;
    position: fixed;
    width: 100%;
}

footer .container{
    margin-top: 0;
    width: 960px;
}

section.footer .container{
    padding: 0;
}
section.footer .row{
    margin: 0;
}

section.footer ul{
    display: inline-table;
    list-style: disc outside none;
    margin-top: 8px;
    padding-left: 0;
    width: 100%;
}

section.footer ul li{
    display: inline;
    font-size: 15px;
    padding: 0 8px;
}

section.footer ul li img{
    margin: 0 5px;
}

section.footer ul li a{
    color: #FFF;
    font-size: 15px;
    text-decoration: none;
    
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

section.footer ul li a:hover{
    text-decoration: underline;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

/* END FOOTER */

.container-producto h2{
    font-size: 3em;
}

.producto-name{
    font-size: 3em;
}

.producto-fullname{
    margin-top: 0px;
}

.producto-galeria{
    padding-top: 0px;
    margin-top: 50px;
    max-height: 80vh;
    overflow-y: scroll;
}

.producto-galeria::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(11,42,55,0.3);
    background-color: #F5F5F5;
}

.producto-galeria::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

.producto-galeria::-webkit-scrollbar-thumb
{
    background-color: #0b2a37;
    border: 2px solid #555555;
}

.productos-descripciones li{
    background-color: #62b526;
    color: #FFF;
}

.productos-descripciones a{
    background-color: #62b526;
    color: #FFF;
}

.productos-descripciones li .select{
    background-color: #FFF;
}

.producto-nav{
    padding-top:41px
}

.producto-navbar{
    width: 100%;
    text-align: center;
}

.producto-navbar li{
    float: none;
    border: 2px solid #8EB5C5;
    display: inline-block;
    margin-left: -6px;
    width: 10%;
}

.producto-navbar li > a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.producto-navbar a{
    color:#FFF;
}

/* MEDIA QUERYS */

@media only screen and (max-width : 767px) {
    .container-home{
        /*width: 90%;*/
        padding: 0px;
        padding-bottom: 30px;
    }
    
    .navigation{
        display: none;
    }
    
    #iso .item-proyecto{
        width: 98%;
    }
    
    #ascensorBuilding .content-home{
        overflow-y: scroll !important;
    }
    
    #menu_top a.lenguaje{
        padding: 4px 10px;
    }
    
    section.footer ul li.copy{
        display: block;
        text-align: center;
    }
    .box-filtros{
        margin-top: 32px;
    }
    
    .box-filtros h1{
        font-size: 44px;
    }
    
    .container-home h1{
        font-size: 4em;
    }
    
    .box-proyecto, .box-mapa {
        height: 100%;
        position: relative;
        width: 100%;
    }
    
    .breadcrumb{
        display: none;
    }
}

@media only screen and (min-width : 768px) {
    .container-home{
        /*width: 90%;*/
    }
    
    section.footer ul.menu-footer li{
        padding: 0px 10px;
        margin: 0px;
    }
    
    section.footer ul li{
        display: block;
        text-align: right;
        margin-right: 25px;
    }
    
    #iso .item-proyecto{
        width: 48%;
    }
    
    .box-proyecto, .box-mapa {
        height: 100%;
        position: relative;
        width: 100%;
    }
}


@media only screen and (min-width : 992px) {
    ul.menu li a{
        padding: 5px 2px;
    }
    
    section.footer ul li{
        display: inline-block;
        text-align: right;
        margin-right: 10px;
    }
    
    #iso .item-proyecto{
        width: 32%;
    }
    
    .mapas .contacto-info{
        margin: 0 1.5em;
    }
    .search .icons{
        display: inline-block;
    }
    
    .box-proyecto, .box-mapa {
        height: 100%;
        position: absolute;
        width: 50%;
    }
    
    .icons{
        display: none;
    }
}

@media only screen and (min-width : 1200px) {
    ul.menu li a:first-child{
        padding-left: 0;
    }
    ul.menu li a{
        padding: 5px 15px;
    }
    .container {
      width: 1270px !important;
    }    
    .container-home{
        /*width: 60%;*/
    }
    
    ul.menu li a{
        font-size: 1em;
    }
    
    .icons{
        display: block;
    }
    
    .box-proyecto, .box-mapa {
        height: 100%;
        position: absolute;
        width: 50%;
    }
    
    #iso .item-proyecto{
        width: 24%;
    }
    
    
}

.breadcrumb a{
    color:#FFF;
}